.DS_Store
*~.*
*[Bb]uild/
.idea/
xcuserdata/
project.xcworkspace/
tmp/
*.dSYM/
*.exe
*.exe.debug
*.debug

/include
/lib
/.bootstrap.auto/
/.bootstrap.local/
/dependencies/
/addictions/
/.repos/
/mulle-configuration/
/mulle-tests/
/cityhash/
/tests/mulle-tests/
/bin/mulle-homebrew/

tests/include/
tests/lib/
tests/map/indexedkvbucket
tests/set/indexedbucket
tests/buffer/add
tests/buffer/buffer
tests/buffer/intersect
tests/array/array
tests/map/map
tests/buffer/example
tests/buffer/setlength
mulle_hash/
