{
   project =
   {
      description="🛄 Arrays, hashtables and a queue";
      domain="github";
      language="c";
      dialect="c";
      name="mulle-container";
      user="mulle-c";
      repo="mulle-container";
      homepage="https://github.com/mulle-c/mulle-container";
            version="10.1.3";
license="BSD-3-Clause";
   };
   dependencies =
   (
      {
         description="🔄 Flexible C memory allocation scheme";
         domain="github";
         name="mulle-allocator";
         repo="mulle-allocator";
         url="https://github.com/mulle-c/mulle-allocator";
         user="mulle-c";
      },
      {
         description="#️⃣ A collection of hash functions";
         domain="github";
         name="mulle-data";
         repo="mulle-data";
         url="https://github.com/mulle-c/mulle-data";
         user="mulle-c";
      }
   );
}
